#! /bin/sh

### BEGIN INIT INFO
# Provides:             etcd
# Required-Start:       $remote_fs $syslog
# Required-Stop:        $remote_fs $syslog
# Default-Start:        2 3 4 5
# Default-Stop:
# Short-Description:    etcd
### END INIT INFO

set -e

if [ -f /etc/default/etcd ]; then
   . /etc/default/etcd
fi

export PATH="${PATH:+$PATH:}/usr/sbin:/sbin"

stop(){
    echo "Stopping etcd"
    kill $(cat /var/run/etcd.pid)
}
start(){
        echo "Starting etcd"
        /opt/etcd/bin/etcd -name $(hostname) \
	    -data-dir {{ etcd_install_prefix }}/etcd/data-dir \
	    -advertise-client-urls $ETCD_ADVERTISE_CLIENT_URLS \
	    -listen-client-urls  $ETCD_LISTEN_CLIENT_URLS \
	    -initial-advertise-peer-urls $ETCD_INITIAL_ADVERTISE_PEER_URLS \
	    -listen-peer-urls $ETCD_INITIAL_ADVERTISE_PEER_URLS \
	    -initial-cluster-token $ETCD_INITIAL_CLUSTER_TOKEN \
	    -initial-cluster $ETCD_INITIAL_CLUSTER \
	    -initial-cluster-state $ETCD_INITIAL_CLUSTER_STATE \
            > /var/log/etcd.log 2>&1 &
        pid=$!
	rv=$?

	# this doesn't do any good as etcd apparently always returns 0
	if [ $rv != "0" ]; then
	    echo "ERROR: had trouble starting etcd"
	    exit 1
	fi
        echo $pid > /var/run/etcd.pid
	exit 0
}
case "$1" in
  start)
        start
        ;;
  stop)
        stop
        ;;

  restart)
        stop
        sleep 1
        start
        ;;
  status)
        ps -ef|grep /opt/etcd/bin/etcd|grep -v grep
        ;;

  *)
        echo "Usage: /etc/init.d/etcd {start|stop|restart|status}"
        exit 1
esac

exit 0
