description "etcd process"
start on runlevel [2345]
stop on runlevel [!2345]

respawn

exec {{ etcd_install_prefix }}/etcd/bin/etcd \
    {% if etcd_peers %}-peers {{ etcd_peers }} \{% endif %}
    -peer-addr {{ etcd_peer_addr }} \
    -addr {{ etcd_addr }} \
    -data-dir {{ etcd_install_prefix }}/etcd/data-dir \
    -name {{ inventory_hostname }}
